flows_infocube-cell-5837665.json
[{"id":"674cef07.e5c68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee817180.f7a","type":"tab","label":"Simple HTML Page","disabled":false,"info":""},{"id":"2280b188.a456de","type":"debug","z":"674cef07.e5c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":140,"wires":[]},{"id":"617c8abd.5066f4","type":"comment","z":"674cef07.e5c68","name":"OVO JE PREDOBRO","info":"Ok, u ovo se isplati investirati vrijeme.","x":400,"y":60,"wires":[]},{"id":"2d005f6b.7eaf3","type":"function","z":"674cef07.e5c68","name":"+ 10","func":"msg.payload += 10;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["c81c6b5e.9aae78","b1aa3651.3c76e8"]]},{"id":"7faf7e0f.3751a","type":"http in","z":"ee817180.f7a","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5d56c17d.670d1"]]},{"id":"5d56c17d.670d1","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <h2>Ma ja ti to ne mogu da povjerujem</h2>\n        \n    </body>\n</html>","x":370,"y":180,"wires":[["4980aadd.d9a5d4"]]},{"id":"4980aadd.d9a5d4","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"d0edf8b5.19e968","type":"inject","z":"674cef07.e5c68","name":"","topic":"Hello","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["2d005f6b.7eaf3"]]},{"id":"c81c6b5e.9aae78","type":"function","z":"674cef07.e5c68","name":"* 3","func":"msg.payload = msg.payload * 3;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["2280b188.a456de"]]},{"id":"136e16f5.df2dd9","type":"http in","z":"ee817180.f7a","name":"","url":"/world","method":"get","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["ab1f53db.cf6d8"]]},{"id":"ab1f53db.cf6d8","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Ovo je stranica dva</h1>\n        <h2>Izgleda predobro</h2>\n        \n    </body>\n</html>","x":370,"y":280,"wires":[["f5aa16ca.998518"]]},{"id":"f5aa16ca.998518","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":280,"wires":[]},{"id":"b1aa3651.3c76e8","type":"function","z":"674cef07.e5c68","name":"* 5","func":"msg.payload = msg.payload * 5;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["2280b188.a456de"]]}]