flows_infocube-cell-5837665.json
[{"id":"674cef07.e5c68","type":"tab","label":"Start","disabled":false,"info":""},{"id":"ee817180.f7a","type":"tab","label":"Simple HTML Page","disabled":false,"info":""},{"id":"6b225f18.1c749","type":"tab","label":"Json","disabled":false,"info":""},{"id":"632c06b0.366128","type":"tab","label":"Shell SCRIPT","disabled":false,"info":""},{"id":"b7595724.c49788","type":"subflow","name":"Execute Shell Script","info":"","in":[{"x":100,"y":200,"wires":[{"id":"d470090a.0d8dd8"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"d269c416.1cbfc8","port":0}]},{"x":960,"y":340,"wires":[{"id":"d269c416.1cbfc8","port":1}]},{"x":960,"y":400,"wires":[{"id":"d269c416.1cbfc8","port":2}]}]},{"id":"2280b188.a456de","type":"debug","z":"674cef07.e5c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":180,"wires":[]},{"id":"617c8abd.5066f4","type":"comment","z":"674cef07.e5c68","name":"OVO JE PREDOBRO","info":"Ok, u ovo se isplati investirati vrijeme.\n\n> \"Any program is only as good as it is useful.\" - Linus Torvalds","x":400,"y":60,"wires":[]},{"id":"2d005f6b.7eaf3","type":"function","z":"674cef07.e5c68","name":"+ 10","func":"msg.payload += 10;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["c81c6b5e.9aae78","b1aa3651.3c76e8"]]},{"id":"7faf7e0f.3751a","type":"http in","z":"ee817180.f7a","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5d56c17d.670d1"]]},{"id":"5d56c17d.670d1","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <h2>Ma ja ti to ne mogu da povjerujem</h2>\n        \n    </body>\n</html>","x":370,"y":180,"wires":[["4980aadd.d9a5d4"]]},{"id":"4980aadd.d9a5d4","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"d0edf8b5.19e968","type":"inject","z":"674cef07.e5c68","name":"","topic":"Hello","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["2d005f6b.7eaf3"]]},{"id":"c81c6b5e.9aae78","type":"function","z":"674cef07.e5c68","name":"* 3","func":"msg.payload = msg.payload * 3;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["2280b188.a456de"]]},{"id":"136e16f5.df2dd9","type":"http in","z":"ee817180.f7a","name":"","url":"/world","method":"get","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["ab1f53db.cf6d8"]]},{"id":"ab1f53db.cf6d8","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Ovo je stranica dva</h1>\n        <h2>Izgleda predobro</h2>\n        \n    </body>\n</html>","x":370,"y":280,"wires":[["f5aa16ca.998518"]]},{"id":"f5aa16ca.998518","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":280,"wires":[]},{"id":"b1aa3651.3c76e8","type":"function","z":"674cef07.e5c68","name":"* 5","func":"msg.payload = msg.payload * 5;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["2280b188.a456de"]]},{"id":"15284fcd.46885","type":"comment","z":"ee817180.f7a","name":"WEB STRANICE","info":"### To me zanima","x":340,"y":80,"wires":[]},{"id":"68ee4f5e.72945","type":"http in","z":"6b225f18.1c749","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":160,"y":180,"wires":[["c1675505.12f8d8"]]},{"id":"c1675505.12f8d8","type":"template","z":"6b225f18.1c749","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":330,"y":180,"wires":[["359ab54f.66c90a"]]},{"id":"359ab54f.66c90a","type":"change","z":"6b225f18.1c749","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["b3b5632.8473aa"]]},{"id":"b3b5632.8473aa","type":"http response","z":"6b225f18.1c749","name":"","statusCode":"","headers":{},"x":650,"y":180,"wires":[]},{"id":"b5093392.47307","type":"file","z":"b7595724.c49788","name":"Write script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":860,"y":140,"wires":[]},{"id":"7537d792.881fa8","type":"exec","z":"b7595724.c49788","command":"mktemp","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":420,"y":200,"wires":[["8b130209.089a"],[],[]]},{"id":"72a8c056.e73da","type":"file","z":"b7595724.c49788","name":"Delete script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1020,"y":480,"wires":[]},{"id":"d269c416.1cbfc8","type":"exec","z":"b7595724.c49788","command":" sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Execute the shell script","x":690,"y":340,"wires":[["72a8c056.e73da"],[],[]]},{"id":"1a409e48.af4102","type":"exec","z":"b7595724.c49788","command":"chmod +x ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1040,"y":200,"wires":[["456d4999.68b1a8"],[],[]]},{"id":"d470090a.0d8dd8","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["7537d792.881fa8"]]},{"id":"59d2e43d.fd453c","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[["1a409e48.af4102"]]},{"id":"8b130209.089a","type":"function","z":"b7595724.c49788","name":"","func":"msg.filename = msg.payload.trim();\nmsg.payload = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["b5093392.47307","59d2e43d.fd453c"]]},{"id":"456d4999.68b1a8","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["d269c416.1cbfc8"]]},{"id":"8d388836.57dbc8","type":"comment","z":"b7595724.c49788","name":"Execute shell script","info":"Execute the shell script in msg.payload.","x":130,"y":40,"wires":[]},{"id":"e3222d49.3f92d","type":"inject","z":"632c06b0.366128","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":200,"wires":[["faa104d4.da5c18"]]},{"id":"faa104d4.da5c18","type":"template","z":"632c06b0.366128","name":"Shell Script","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#! /bin/sh\n\ncd ~/workspace\nls -a\necho Timestamp is {{payload}}.","x":270,"y":200,"wires":[["a9ccdecb.24799"]]},{"id":"a9ccdecb.24799","type":"subflow:b7595724.c49788","z":"632c06b0.366128","name":"","x":470,"y":200,"wires":[["1d6018dd.522097"],["1d6018dd.522097"],["1d6018dd.522097"]]},{"id":"1d6018dd.522097","type":"debug","z":"632c06b0.366128","name":"Log the result","active":true,"tosidebar":true,"console":false,"complete":"payload","x":680,"y":200,"wires":[]},{"id":"aad01e85.7c65c","type":"comment","z":"632c06b0.366128","name":"Example","info":"","x":280,"y":100,"wires":[]}]