flows_infocube-cell-5837665.json
[{"id":"ee817180.f7a","type":"tab","label":"Simple HTML Page","disabled":false,"info":""},{"id":"6b225f18.1c749","type":"tab","label":"Json","disabled":false,"info":""},{"id":"632c06b0.366128","type":"tab","label":"Shell SCRIPT","disabled":false,"info":""},{"id":"830cec22.07efa","type":"tab","label":"Examples","disabled":false,"info":""},{"id":"b7595724.c49788","type":"subflow","name":"Execute Shell Script","info":"","in":[{"x":100,"y":200,"wires":[{"id":"d470090a.0d8dd8"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"d269c416.1cbfc8","port":0}]},{"x":960,"y":340,"wires":[{"id":"d269c416.1cbfc8","port":1}]},{"x":960,"y":400,"wires":[{"id":"d269c416.1cbfc8","port":2}]}]},{"id":"7faf7e0f.3751a","type":"http in","z":"ee817180.f7a","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5d56c17d.670d1"]]},{"id":"5d56c17d.670d1","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <h2>Ma ja ti to ne mogu da povjerujem</h2>\n        \n    </body>\n</html>","x":370,"y":180,"wires":[["4980aadd.d9a5d4"]]},{"id":"4980aadd.d9a5d4","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"136e16f5.df2dd9","type":"http in","z":"ee817180.f7a","name":"","url":"/world","method":"get","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["ab1f53db.cf6d8"]]},{"id":"ab1f53db.cf6d8","type":"template","z":"ee817180.f7a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Ovo je stranica dva</h1>\n        <h2>Izgleda predobro</h2>\n        \n    </body>\n</html>","x":370,"y":280,"wires":[["f5aa16ca.998518"]]},{"id":"f5aa16ca.998518","type":"http response","z":"ee817180.f7a","name":"","statusCode":"","headers":{},"x":510,"y":280,"wires":[]},{"id":"15284fcd.46885","type":"comment","z":"ee817180.f7a","name":"WEB STRANICE","info":"### To me zanima","x":340,"y":80,"wires":[]},{"id":"68ee4f5e.72945","type":"http in","z":"6b225f18.1c749","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":160,"y":180,"wires":[["c1675505.12f8d8"]]},{"id":"c1675505.12f8d8","type":"template","z":"6b225f18.1c749","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":330,"y":180,"wires":[["359ab54f.66c90a"]]},{"id":"359ab54f.66c90a","type":"change","z":"6b225f18.1c749","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["b3b5632.8473aa"]]},{"id":"b3b5632.8473aa","type":"http response","z":"6b225f18.1c749","name":"","statusCode":"","headers":{},"x":650,"y":180,"wires":[]},{"id":"b5093392.47307","type":"file","z":"b7595724.c49788","name":"Write script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":860,"y":140,"wires":[]},{"id":"7537d792.881fa8","type":"exec","z":"b7595724.c49788","command":"mktemp","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":420,"y":200,"wires":[["8b130209.089a"],[],[]]},{"id":"72a8c056.e73da","type":"file","z":"b7595724.c49788","name":"Delete script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1020,"y":480,"wires":[]},{"id":"d269c416.1cbfc8","type":"exec","z":"b7595724.c49788","command":" sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Execute the shell script","x":690,"y":340,"wires":[["72a8c056.e73da"],[],[]]},{"id":"1a409e48.af4102","type":"exec","z":"b7595724.c49788","command":"chmod +x ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1040,"y":200,"wires":[["456d4999.68b1a8"],[],[]]},{"id":"d470090a.0d8dd8","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["7537d792.881fa8"]]},{"id":"59d2e43d.fd453c","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[["1a409e48.af4102"]]},{"id":"8b130209.089a","type":"function","z":"b7595724.c49788","name":"","func":"msg.filename = msg.payload.trim();\nmsg.payload = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["b5093392.47307","59d2e43d.fd453c"]]},{"id":"456d4999.68b1a8","type":"change","z":"b7595724.c49788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["d269c416.1cbfc8"]]},{"id":"8d388836.57dbc8","type":"comment","z":"b7595724.c49788","name":"Execute shell script","info":"Execute the shell script in msg.payload.","x":130,"y":40,"wires":[]},{"id":"e3222d49.3f92d","type":"inject","z":"632c06b0.366128","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":200,"wires":[["faa104d4.da5c18"]]},{"id":"faa104d4.da5c18","type":"template","z":"632c06b0.366128","name":"Shell Script","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#! /bin/sh\n\ncd ~/workspace\nls -a\necho Timestamp is {{payload}}.","x":270,"y":200,"wires":[["a9ccdecb.24799"]]},{"id":"a9ccdecb.24799","type":"subflow:b7595724.c49788","z":"632c06b0.366128","name":"","x":470,"y":200,"wires":[["1d6018dd.522097"],["1d6018dd.522097"],["1d6018dd.522097"]]},{"id":"1d6018dd.522097","type":"debug","z":"632c06b0.366128","name":"Log the result","active":true,"tosidebar":true,"console":false,"complete":"payload","x":680,"y":200,"wires":[]},{"id":"aad01e85.7c65c","type":"comment","z":"632c06b0.366128","name":"Example","info":"## Trebam ubuduče zapisati izvor\n## da ne zaboravim, gdje sam našao flow...\n\nNe mogu a da ne budem totalno oduševljen sa time :)","x":280,"y":100,"wires":[]},{"id":"156ffaa7.9577a5","type":"http in","z":"830cec22.07efa","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":180,"y":100,"wires":[["f64d0bd7.858ef8"]]},{"id":"f64d0bd7.858ef8","type":"template","z":"830cec22.07efa","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":350,"y":100,"wires":[["a87d4172.a8d52"]]},{"id":"a87d4172.a8d52","type":"http response","z":"830cec22.07efa","name":"","x":490,"y":100,"wires":[]},{"id":"ee0cb91a.dc4cf8","type":"template","z":"830cec22.07efa","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":330,"y":240,"wires":[["cb540001.f4bba"]]},{"id":"b5d1153e.6c7548","type":"http in","z":"830cec22.07efa","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":160,"y":240,"wires":[["ee0cb91a.dc4cf8"]]},{"id":"cb540001.f4bba","type":"http response","z":"830cec22.07efa","name":"","x":470,"y":240,"wires":[]},{"id":"b639a312.7e30c","type":"inject","z":"830cec22.07efa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["fa3c1425.67d998"]]},{"id":"fa3c1425.67d998","type":"change","z":"830cec22.07efa","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[[]]},{"id":"7d602563.f9d0dc","type":"http in","z":"830cec22.07efa","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":160,"y":400,"wires":[["9d154cf.67f1fb"]]},{"id":"9d154cf.67f1fb","type":"change","z":"830cec22.07efa","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["eb4ab2bb.c35c7"]]},{"id":"eb4ab2bb.c35c7","type":"template","z":"830cec22.07efa","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":510,"y":400,"wires":[["a6da988b.5f7198"]]},{"id":"a6da988b.5f7198","type":"http response","z":"830cec22.07efa","name":"","x":650,"y":400,"wires":[]},{"id":"d0df8fe6.1602d","type":"comment","z":"830cec22.07efa","name":"1","info":"","x":150,"y":40,"wires":[]},{"id":"4a437f75.1476","type":"comment","z":"830cec22.07efa","name":"2","info":"","x":150,"y":180,"wires":[]},{"id":"cb672bb7.a3c258","type":"comment","z":"830cec22.07efa","name":"3","info":"","x":150,"y":320,"wires":[]},{"id":"774fc900.944188","type":"http request","z":"830cec22.07efa","name":"","method":"GET","ret":"txt","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":430,"y":500,"wires":[["6f344776.7c1118"]]},{"id":"6f344776.7c1118","type":"debug","z":"830cec22.07efa","name":"","active":true,"console":"false","complete":"payload","x":590,"y":500,"wires":[]},{"id":"87811aa5.93fd88","type":"inject","z":"830cec22.07efa","name":"post id","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":500,"wires":[["28301f27.46ada"]]},{"id":"28301f27.46ada","type":"change","z":"830cec22.07efa","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":500,"wires":[["774fc900.944188"]]}]